.menue {
    display: flex;
    justify-content: space-between;
    list-style-type: none; 
    margin: 0;
    padding: 0;   
}

.menue__item {
    padding: 17px;
}

.menue__item:hover {
    background-color: rgba(0,0,0,.05);
}

.menue__item--active {
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
}