header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    position: sticky;
    top:0;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    background-color:white;
    
}

.header__logo{
width:150px;
padding-left:25px;
    
    
}