@import "prism.css";

@import "bubble.css";
@import "navbar.css";

:root {
    --primary:#17a2b8;
}

img
{
    max-width: 100%;
}

.container
{
    padding-top: 5rem;
}

.d-flex { display: flex; }

.flex-1 { flex: 1; }